$primary-color: #FF204E;
$secondary-color: #A0153E;
$tertiary-color: #5D0E41;
$background-color: #00224D;
$text-color: #FFFFFF;
$border-color: #5D0E41;
$error-color: #FF204E;

$font-family: 'Arial', sans-serif;

$breakpoints: (
        'small': 576px,
        'medium': 768px,
        'large': 992px,
        'x-large': 1200px
);
