$primary-color: #3c6e71;
$secondary-color: #70ae6e;
$tertiary-color: #f0f7f4;
$background-color: #ffffff;
$text-color: #2b2d42;         
$border-color: #d9d9d9;
$error-color: #d62828;

$font-family: 'Arial', sans-serif;

$breakpoints: (
        'small': 576px,
        'medium': 768px,
        'large': 992px,
        'x-large': 1200px
);
